<div style="background-color: var(--primary-accent); height: auto;">
    <div class="sidebar accordion d-flex flex-column justify-content-between" id="sidebarAccordion">

        <!-- Üst Alan -->
        <div>
            <!-- Profil -->
            <div class="accordion-item bg-transparent border-0 mt-3">
                <h2 class="accordion-header" id="profileHeading">
                    <a href="@Url.Action("CurrentPlan", "Institution")" class="accordion-button collapsed bg-transparent text-light title-regular fw-semibold text-decoration-none">
                        Mevcut Plan (Demo)
                    </a>
                </h2>
            </div>

            <!-- Profil -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="profileHeading">
                    <a href="@Url.Action("Profile", "Institution")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Profil
                    </a>
                </h2>
            </div>

            <!-- Öğrenciler -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="teachersHeading">
                    <a href="@Url.Action("StudentList", "Institution")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Öğrenci Listesi
                    </a>
                </h2>
            </div>

            <!-- Öğretmen Listesi -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="teachersHeading">
                    <a href="@Url.Action("SupervisorList", "Institution")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Öğretmen Listesi
                    </a>
                </h2>
            </div>

            <!-- Yoklama ve Duygu Analizi -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="attendanceHeading">
                    <button class="accordion-button collapsed bg-transparent text-light fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAttendance" aria-expanded="false" aria-controls="collapseAttendance">
                        Yoklama ve Duygu Analizi
                    </button>
                </h2>
                <div id="collapseAttendance" class="accordion-collapse collapse accordion-primary" data-bs-parent="#sidebarAccordion">
                    <div class="accordion-body d-flex flex-column ps-4">
                        <a href="@Url.Action("TakePhoto", "PythonApp")" class="nav-link text-light">Fotoğraf Çek</a>
                        <a href="@Url.Action("TakeAttendance", "PythonApp")" class="nav-link text-light">Yoklama Al</a>
                        <a href="@Url.Action("ListAttendanceAndEmotion", "PythonApp")" class="nav-link text-light">Yoklama ve Duygu Durumu Listesi</a>
                    </div>
                </div>
            </div>


        </div>

        <!-- Alt Alan -->
        <div class="mt-4">
           <!-- Çıkış Yap -->
            <div class="accordion-item card-secondary border-0 p-0 border-0">
                <h2 class="accordion-header" id="logoutHeading">
                    <a href="@Url.Action("Index", "Home")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Çıkış Yap
                    </a>
                </h2>
            </div>
        </div>

    </div>
</div>
